<h1><%= @page.topic %></h1>
<p><%= @page.description.html_safe %></p>
<fieldset>
	<legend>Muokkaa</legend>
	<%= link_to "Edit", edit_page_path(@page) %>
	or
	<%= link_to "Delete", page_path(@page), { :class => "dangerous",
											  :confirm => "Are you sure?",
											  :method => :delete }
	%>
</fieldset>